{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block 'content' %}

    <form method="post">
    {% csrf_token %}

    <div class="row">
        
        <div class="col-lg">
            
            <h1 class="mb-1 text-primary text-center">Cadastro</h1>
            <p class="text-muted text-sm mb-2 text-center">
                Faça seu cadastro caso ainda não tenha uma conta
            </p>            
                
                <fieldset>
                    <legend class="text-center">Dados de cadastro</legend>
                    {{ userform|crispy }}
                    {{ profileform|crispy }}
                </fieldset>
                
            
        </div>
        <div class="col-lg">
        
            <h1 class="mb-1 text-primary text-center">Endereço</h1>
            <p class="text-muted text-sm mb-2 text-center">
                Você pode adicionar mais endereços posteriormente
            </p>
            
                {% csrf_token %}
                <fieldset>
                    <legend class="text-center">Endereço principal</legend>
                    {{ addressform|crispy }}
                </fieldset>
        </div>
    </div>
    <div class="row">
            <button type="submit" class="btn btn-primary btn-lg btn-block mt-4" style="margin: 0 25%;">
                Cadastrar
            </button>
        </div>
</form> 
{% endblock 'content' %}