{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block 'title' %}Atualize seus dados | {% endblock 'title' %}

{% block 'content' %}

    <h1 class="text-center text-primary mb-2">
        Mudança nos dados do cadastro
    </h1>

<div class="row">

    <div class="col-lg">

        <form method="POST">
        {% csrf_token %}

            <fieldset>
                <legend> Informações de usuário </legend>
                {{ userform|crispy }}
                {{ profileform|crispy }}
            </fieldset>
            <div class="d-flex flex-row justify-content-end">
            <button type="submit" class="btn btn-primary btn-lg">
                Mudar
            </button>
            </div>
        </form>
    
    </div>
</div>
<hr>
<div class="row mt-3">
<div class="col d-flex flex-column align-items-center">
            
    <h1 class="text-primary mb-4">Seus endereços</h1>
    <dl class="row backupAddress" address="{{main_address.id}}">

        <dt class="col-lg-2">Endereço:</dt>
        <dd class="col-lg-4">{{main_address.street }}</dd>
        <dt class="col-lg-2">Número:</dt>
        <dd class="col-lg-4">{{main_address.number }}</dd>

        <dt class="col-lg-2">Complemento:</dt>
        <dd class="col-lg-4">{{ main_address.complement }}</dd>
        <dt class="col-lg-2">Bairro:</dt>
        <dd class="col-lg-4">{{ main_address.neighbourhood }}</dd>

        <dt class="col-lg-2">Cidade:</dt>
        <dd class="col-lg-4">{{main_address.city}}</dd>
        <dt class="col-lg-2">Estado:</dt>
        <dd class="col-lg-4">{{main_address.federation}}</dd>

        <dt class="col-lg-2">CEP:</dt>
        <dd class="col-lg-4">{{main_address.cep}}</dd>
    </dl>
    {% for address in other_addresses %}
    <dl class="row backupAddress hidden" address="{{address.id}}">

        <dt class="col-lg-2">Endereço:</dt>
        <dd class="col-lg-4">{{address.street }}</dd>
        <dt class="col-lg-2">Número:</dt>
        <dd class="col-lg-4">{{address.number }}</dd>

        <dt class="col-lg-2">Complemento:</dt>
        <dd class="col-lg-4">{{ address.complement }}</dd>
        <dt class="col-lg-2">Bairro:</dt>
        <dd class="col-lg-4">{{ address.neighbourhood }}</dd>

        <dt class="col-lg-2">Cidade:</dt>
        <dd class="col-lg-4">{{address.city}}</dd>
        <dt class="col-lg-2">Estado:</dt>
        <dd class="col-lg-4">{{address.federation}}</dd>

        <dt class="col-lg-2">CEP:</dt>
        <dd class="col-lg-4">{{address.cep}}</dd>
    </dl>
    {% endfor %}
    <form method="GET" class="d-flex flex-column w-100" >
    <select name="changeAddress" id="changeAddress" class="mb-3 w-100 p-2" >
        <option value="{{main_address.id}}">{{main_address.street}}</option>
        {% for address in other_addresses %}
        <option value="{{address.id}}">{{address.street}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-md btn-secondary align-self-end mb-2" id="submitChangeAddress">
        Editar esse endereço
    </button>
    </form>
    
    <a href="{% url 'profile:address' %}" class="btn btn-primary btn-lg btn-block mt-3">
        Adicionar endereço
        <i class="fas fa-plus" class="ml-5"></i>
    </a>
</div>
</div>
</div>
{% endblock 'content' %}
