{% extends 'base.html' %}
{% load my_filters %}
{% block 'content' %}
<div class="row">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg">
                <div class="row no-gutters">
                    <div class="col-lg-12">
                    {% if product.image %}
                        <img class="img-fluid" src="{{ product.image.url }}" alt="Image do produto {{ product.name }}`">
                    {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg">
                <div class="mt-4 mt-lg-0">
                    <h1 class="h2">{{ product.name }}</h1>
                    <p class="lead">T{{ product.short_desc }}</p>
                    <p class="lead">
                        {% if selected_variation.price_promo %}
                            <span id="selected_variation-preco-promocional"
                                class="lead product-price">
                                    {{ selected_variation.price_promo|money }}
                            </span>
                            <span id="selected_variation-preco" class="lead product-old-price text-muted">
                                {{ selected_variation.price|money }}
                            </span>
                        {% else %}
                            <span id="selected_variation-preco" class="lead product-price">{{ selected_variation.price|money }}</span>
                        {% endif %}
                    </p>

                    <form action="{% url 'product:cart_add' %}" id="form-add-to-cart">
                        <div class="form-group">
                            {% if product.prod_type == 'V' %}
                            <select id="select-variacoes" name="vid" class="form-control form-control-lg">
                            {% for variation in variations %}
                                <option 
                                    promotional-price="{% if variation.price_promo %}{{  variation.price_promo|money }}{% else %}null{% endif %}" 
                                    original-price="{{ variation.price|money }}" value="{{ variation.id }}">
                                        {{variation.name}}
                                </option>
                            {% endfor %}
                            </select>
                            {% else %}
                            <input type="number" class="invisible" name="vid" value="{{ selected_variation.id }}">
                            {% endif %}
                            
                        </div>

                        <div class="text-left">
                            <button type="submit" class="btn btn-primary btn-lg btn-block">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                Adicionar ao carrinho
                            </button>
                        </div>

                    </form>


                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="mt-5 mb-5">
                    <h2 class="text-center">Descrição do produto</h2>
                    <div class="mt-4">
                        {{ product.long_desc|safe }}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock 'content' %}