{% extends 'base.html' %}
{% load my_filters %}

{% block 'content' %}
<div class="row mb-5">
    <div class="col-lg">
        <h2>Resumo da sua compra</h2>

        <p class="lead">Dados do usuário</p>
        <p>Caso precise editar, <a href="/userprofile/update/">clique aqui</a></p>
        <dl class="row">
            <dt class="col-lg-2">Nome:</dt>
            <dd class="col-lg-4">{{ user.first_name }}</dd>
            <dt class="col-lg-2">Sobrenome:</dt>
            <dd class="col-lg-4">{{ user.last_name }}</dd>

            <dt class="col-lg-2">Nascimento:</dt>
            <dd class="col-lg-4">{{ user.userprofile.birth }}</dd>

            <dt class="col-lg-2">CPF:</dt>
            <dd class="col-lg-4">{{ user.userprofile.cpf }}</dd>
            <dt class="col-lg-2">E-mail:</dt>
            <dd class="col-lg-4">{{ user.email }}</dd>
        </dl>

        <p class="lead">Dados de endereço</p>
        <p>Caso precise editar, <a href="{% url 'profile:update' %}">clique aqui</a></p>
        <dl class="row">
            <dt class="col-lg-2">Endereço:</dt>
            <dd class="col-lg-4">{{address.street }}</dd>
            <dt class="col-lg-2">Número:</dt>
            <dd class="col-lg-4">{{address.number }}</dd>

            <dt class="col-lg-2">Complemento:</dt>
            <dd class="col-lg-4">{{ address.complement }}</dd>
            <dt class="col-lg-2">Bairro:</dt>
            <dd class="col-lg-4">{{ address.neighbourhood }}</dd>

            <dt class="col-lg-2">Cidade:</dt>
            <dd class="col-lg-4">{{address.city}}</dd>
            <dt class="col-lg-2">Estado:</dt>
            <dd class="col-lg-4">{{address.federation}}</dd>

            <dt class="col-lg-2">CEP:</dt>
            <dd class="col-lg-4">{{address.cep}}</dd>
        </dl>
    </div>
</div>



<div class="row">
    <div class="col">
        <h3>Carrinho de compras</h3>
        <p class="lead">Os produtos, quantidades e preços que você escolheu.</p>
        {% include 'partials/_cart.html' %}
    </div>
</div>
<div class="row mt-3">
    <div class="col-lg">
        <h4>Total no carrinho</h4>

        <div class='table-responsive'>
            <table class="table">
                <tr>
                    <td class="font-weight-bold text-lg">Total</td>
                    <td>{{ request.session.cart|get_total|money }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <a class="btn btn-block btn-primary btn-lg" href="{% url 'order:pay' %}">
            Realizar pedido e pagar
        </a>
    </div>
</div>


{% endblock 'content' %}