{% extends 'base.html' %}
{% load my_filters %}
{% load static %}

{% block 'title' %}Pagamento | {% endblock 'title' %}

{% block 'content' %}
<div class="row">
    <div class="col">
        <h3>Escolha o método de pagamento</h3>
        <h1 class="text-primary">(adicionar aqui formulário de pagamento)</h1>
    </div>
</div>

{% include 'partials/_order_details.html' %}

<div class="row mt-4">
    <div class="col">
        <a href="#" class="btn btn-primary btn-block btn-lg">Pagar</a>
    </div>
</div>


{% endblock 'content' %}